{% extends "base.html" %}

{% block content %}

    <div class="col">
        {% include "producto/snippets/buscador.html" with query=query %}
        <hr>
        <p class="text-white">Resultados para: {{ query }} ({{ count }})</p>
        
          <div class="row">
            {% for objeto in producto_list  %}
            <div class="col-3 mt-5">
              <!-- en caso de usar otro nombre de variable se puede configurar como sigue a continuacion -->
              {% include "producto/snippets/producto.html" with prod=objeto %}
            </div>

          {% endfor %}
          </div>
            
          
    </div>


{% endblock  %}