{% extends 'base.html' %}

{% block content %}
<div class="col-12 bg-white rounded p-3">
    <h2>Login</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Iniciar Sesión</button>

        </div>
    </form>
</div>

{% endblock %}

            
                


















