{% extends 'base.html' %}
{% block content %}
  <div class="col-12 bg-white rounded">
    <form action="" method="post" class="p-3">
      {% csrf_token %}
      <!-- iteracion de campos de un formulario forma recomendada -->

      {% for campos in forms %}
        <div class="form-group">
          {{ campos.label_tag }}
          {{campos}}
          <!-- aca abajo se muestra el mensaje de validacion -->
          {% if campos.errors %}
            {{campos.errors}}
          {% endif %}

        </div>
      {% endfor %}
      <button type="submit" class="btn btn-success">Registrar</button>
    </form>
  </div>
{% endblock  %}

    <!-- 
                <div class="form-group">
                    <div class="form-group">
                        {{forms.usuario.label_tag}}
                        {{forms.usuario}}
                    </div>
                    <div class="form-group">
                        {{forms.correo.label_tag}}
                        {{forms.correo}}
                    </div>
                    <div class="form-group">
                        {{forms.clave.label_tag}}
                        {{forms.clave}}
                    </div>
                </div> -->

    <!-- {% csrf_token %}
                {{forms}} -->
    
  