{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css'  %}">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container d-flex align-items-center justify-content-center vh-100">
    hola
   <div class="container text-center">
    
    <div class="row">
        {% if messages %}

        {% for mensajes in messages  %}
            
            {% if mensajes.tags == 'success' %}

                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss='alert'>X</button>
                    {{mensajes}}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss='alert'>X</button>
                    {{mensajes}}
                </div>
                
            {% endif %}
                
            
        
        {% endfor %}


    {% endif %}
        <div class="col-12"><h1 class="mt-5">{{titulo}}</h1></div>
        <div class="col-4 border bg-dark text-white p-3">Producto</div>
        <div class="col-4 border bg-dark text-white p-3">Precio</div>
        <div class="col-4 border bg-dark text-white p-3">Stock</div>
        

        {% for prod in productos  %}
            
                <div class="col-4 border p-3 bg-white">{{prod.titulo}}</div>
                <div class="col-4 border p-3 bg-white">{{prod.precio}}</div>
                
                {% if prod.stock %}
                    <div class="col-4 border p-3 text-success bg-white">Disponible</div>
                {% else %}
                    <div class="col-4 border p-3 text-danger bg-white">No Disponible</div>
                {% endif %}
                    
        
        {% endfor %}
    </div>
            
   </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>