{% extends 'base.html' %}
{% load producto_extras %}

{% block content %}
  <div class="col-3 bg-white">
      
      {% if producto.imagen %}
          <img src="{{ producto.imagen.url }}" alt="" width="200" height="200">
      {% endif %}
          
  </div>
  <div class="col bg-white">
      <div class="h3 font-weight-bold text-success">
        Producto agregado correctamente al carrito de compras
      </div>
      <div class="">
          <a href="{% url 'productos:producto' producto.slug %}">
              {{ producto.titulo }}
          </a>
      </div>
      <div class="font-weight-bold text-danger">
          {{ producto.precio | precio_formato }}
      </div>
      <div class="mt-2">
          <a href="{% url 'carrito:carrito' %}" class="btn btn-info">Ver carrito</a>
      </div>
  </div>
{% endblock  %}