{% extends "base.html" %}
{% load producto_extras %}

{% block content %}
    
    {% if cart.productos.exists %}
        <div class="col-8 bg-white">
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- cart.productos hace referencia a la relacion. Y con el metodo all hace referencia a los productos -->
                    {% for producto in cart.productos.all  %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <th>
                                
                                {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" width="60" height="60">
                                {% endif %}
                                    
                            </th>
                            <th>
                                <a href="{% url 'productos:producto' producto.slug %}">{{ producto.titulo}}</a>
                                {% include 'carrito/snippets/remove.html' %}
                            </th>
                            <th>{{ producto.cantidad }}</th>
                            <th>
                                <span class="font-weight-bold text-danger">{{ producto.precio | precio_formato }}</span>
                            </th>
                        </tr>
                    {% endfor %}
                        
                </tbody>

            </table>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="font-weight-bold">
                        sutotal:({{ cart.productos.count }}) <span class="text-danger">{{ cart.subtotal | precio_formato }}</span>
                    </div>
                    <div class="mt-2">
                        <a href="" class="btn btn-warning">Proceder al pago</a>
                    </div>
                </div>

            </div>

        </div>
    {% else %}
        <div class="col">
            <p class="h3">Tu carrito de compras esta vacio</p>
            <a href="{% url 'index' %}">Seguir Comprando</a>
        </div>
    {% endif %}
        
{% endblock  %}