<!-- este snippets permite agregar elementos al carrito de compras -->

<form action="{% url 'carrito:agregar' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="producto_id" value="{{ producto.id }}">
    <div class="">
        <button type="button" class="btn btn-info d-inline" id="remover">-</button>
        <input type="number" value="1" name="cantidad" id="cantidad" class="form-control col-sm-1 d-inline" readonly>
        <button type="button" class="btn btn-info " id="agregar">+</button>
    </div>
    <div class="mt-2">
        <button class="btn btn-warning" type="submit">Agregar al Carrito</button>
    </div>
</form>

<script>
    const agregar = document.getElementById('agregar')
    const remover = document.getElementById('remover')
    const cantidad = document.getElementById('cantidad')

    agregar.addEventListener('click',function(){
        cantidad.value = parseInt(cantidad.value) + 1
    })
    remover.addEventListener('click',function(){
        valor = parseInt(cantidad.value)

        if (valor!=1){
            valor = valor -1
        }

        cantidad.value = valor
    //     agregar.addEventListener('click',function(){
    //     cantidad.value = parseInt(cantidad.value) + 1
    // })
    //     cantidad.value = parseInt(cantidad.value) - 1
    })
</script>